{% extends 'base.html.twig' %}

{% block title %}Sensor{% endblock %}

{% block body %}
    <h1>Sensor</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sensor.id }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ sensor.createdAt ? sensor.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ sensor.updatedAt ? sensor.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ sensor.nome }}</td>
            </tr>
            <tr>
                <th>TopicName</th>
                <td>{{ sensor.topicName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('sensor_index') }}">back to list</a>

    <a href="{{ path('sensor_edit', {'id': sensor.id}) }}">edit</a>

    {{ include('sensor/_delete_form.html.twig') }}
{% endblock %}
